.attempt-row {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.attempt-row-container {
    display: flex;
    justify-content: center;
    align-items: center;
}